h1 {
	color: red;
	text-shadow: 0px 2px 2px white;
}

body {
	background: black;
	text-align: center;
}

canvas {
	background-color: black;
	cursor: pointer;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-box-shadow: 0px 0px 20px white;
	-moz-box-shadow: 0px 0px 20px white;
}

/* iphone view */
@media screen and (max-width: 320px) {
	h1 {
		display: none;
	}
	canvas {
		border: none;
		border-radius: none;
		-webkit-box-shadow: none;
	}
}